llama-index-llms-huggingface
llama-index-llms-huggingface-api
#transformers[torch]
transformers>=4.45.1
huggingface_hub[inference]
llama-index
#bitsandbytes
git+https://github.com/TimDettmers/bitsandbytes.git
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
faiss-cpu
llama-index-retrievers-bm25
llama-index-llms-groq
pprintpp
langchain
langchain-community
llama-index-llms-langchain
ragchecker
scikit-learn-intelex
giskard[llm]
PyMuPDF
crewai
crewai-tools
langchain-huggingface
groq
gradio
numpy
pandas
trulens 
trulens-providers-openai
trulens-apps-llamaindex
